body {
  background-color: dimgray;
}

label {
  display: inline-block;
  width: 50px;
  margin: 3px 0 3px 0;
}

fieldset {
  width: fit-content;
}

button {
  margin-top: 10px;
}

div.centered {
  text-align: center;
}
